body {
  background: #ffffff;
  color: #333333;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.content-section {
  background: #f5f3f3;
  padding: 15px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

div.exlog-lists {
  height: 600px;
  overflow-y: auto;
}

.fade {
  animation: fadeinout 1s linear 1 forwards;
}

@keyframes fadeinout {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

a{
  text-decoration: none !important
}