{%  extends "app/base.html" %}

{% load static %}

{% block body %}

<link rel="stylesheet" type="text/css" href="{% static 'exlog_app/base.css' %}">
{% block stylesheets %}{% endblock stylesheets %}

<main role="main" class="container">
  <div class="row">

    <div class="col-md-8">
      {% block content %}{% endblock content%}
    </div>

    <!-- Sidebar -->
    <div class="col-md-4">
      <div class="content-section">
        <h3>Exercise Log</h3>
        <p class='text-muted'>Record and view all your workouts</p>

          <!-- CreateView to add new ExerciseLog object into db-->
          <a href="./today_exlog">
            <Button class="btn btn-outline-secondary btn-block">Add New Workout</Button>
          </a>
          
          <!-- ListView for all workout logs under the current logged in user-->
          <a href="./today_exlog">
            <Button class="btn btn-outline-secondary btn-block">View All Workouts</Button>
          </a>

          <!-- If there is a ExerciseLog database entry with the current date-->
          <a href="./today_exlog">
            <Button class="btn btn-outline-secondary btn-block">Today's Exercise Log</Button>
          </a>
      </div>
    </div>
  </div>
</main>
{% endblock body %}