{% extends "exlog_app/base.html" %}
{% load static %}

{% block content%}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <h2 class="mr-2" href="#">{{ exlog.date | date:"F d, Y"}} Workout</h2>
        </div>

        <ul>
            <!-- Terribly unoptimized but it works for now -->
            {% for exercise in exercises%}
            <li class="unordered-list_item">
                {{ exercise.exercise_name }}:&nbsp;
                {{ exercise.num_sets }}x
                {{ exercise.num_reps }}&nbsp;
                {{ exercise.exercise_weight }} lbs
            </li>
            {% endfor %}
        </ul>

    </div>
</article>
{% endblock content %}