{% extends "exlog_app/base.html" %}
{% load static %}

{% block stylesheet%}
<link rel="stylesheet" type="text/css" href="{% static 'exlog_app/home.css' %}">
{% endblock stylesheet%}

{% block content%}

{% for exlog in exercise_logs %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <h2><a class="mr-2" href="{% url 'exlog-detail' exlog.id %}">{{ exlog.date | date:"F d, Y"}} Workout</a></h2>
        </div>
        <ul>
            {% for exercise in exercises%}
            {% if exercise.exercise_log == exlog %}
            <li class="unordered-list_item">
                {{ exercise.exercise_name }}:
                {% if exercise.num_sets != 0 %}
                    {{ exercise.exercise_name }}:
                    {{ exercise.num_sets }}x
                    {{ exercise.num_reps }}
                    {{ exercise.exercise_weight }} lbs
                {% endif %}
            </li>
            {% endif %}
            {% endfor %}
        </ul>

    </div>
</article>
{% endfor %}
{% endblock content %}