{% extends "app/base.html" %}
{% block style %}
    .window {
        display: flex;
        justify-content: center;
        text-align: center;
        padding-top: 10%;
        align-items: flex-start;
    }
    .btn-secondary {
        width: 100%;
    }
    form {
        padding: 2%;
        max-width: 75%;
    }
    .body {
        background-color: #f2f2f2;
    }
    .logo {
        height: 104px;
        margin-bottom: 5%;
    }
    .img {
        float: left;
        height: 1rem;
        margin-right: 4%;
    }
    .email {
        display: block;
    }
    .input-group {
        margin: 5% 0;
    }
    .text {
        margin-bottom: 10%;
    }
{% endblock style %}
{% block body %}{% endblock body %}