{% extends "app/base.html" %}
{% load static %}

{% block style %}
    .nav{
        display: inline-block;
        width: 100%;
        padding: 1%;
    }
    .btn-outline-secondary{
        float: right;
        margin: 0.5vw;
    }
    .btn-outline-primary {
        float: right;
        margin: 0.5vw;
    }
    .logo{
        display: block;
        height: 56px;
        width: auto;
        float: left;
    }
    .boxes{
        margin-left: 5%;
        margin-right: 5%;
        <!-- margin-top: 2%; -->
        width: 95%; 
        height: 700px; 
        overflow-x: hidden; 
        overflow-y: auto; 
        <!-- border: 1px solid black; -->
    }
    .add {
        margin-left: 10px;
    }
    .date {
        float: left;
    }
    .add-form {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2%;
    }
    @media screen and (max-width: 630px){
        .btn-outline-secondary{
            width: 100%;
        }
        .btn-outline-primary {
            width: 100%;
        }
        .logo-div {
            display: flex;
            justify-content: center;
            margin-bottom: 0.5vw;
        }
        .box1-img{
            float: none;
            margin-right: 0;
            justify-content: center;
            margin-top: 5%;
            margin-bottom: 5%;
        }
        .box2-img{
            float: none;
            margin-left: 0;
            justify-content: center;
            margin-top: 5%;
            margin-bottom: 5%;
        }
    }
{% endblock style %}

{% block body %}
    <div class="add-form">
        <form class="form-inline" action="" method="post">
            {% csrf_token %}
            <table>
                {{ form }}
            </table>
            <div class="add">
                <button type="submit" class="add btn btn-primary mb-2 btn-block">Add</button>
            </div>
        </form>
    </div>

    <div class="boxes">
        {% for date, foods in data.items %}
            <div class="date">
                {% if date == today_date %}
                    <h2>Today</h2>
                {% elif date == yesterday_date %}
                    <h2>Yesterday</h2>
                {% else %}
                    <h2> {{ date }}</h2>
                {% endif %}
            </div>
            <table class="table table-bordered">
                <thead>
                    <!-- <th style="text-align: center" scope="col">Time</th> -->
                    <th style="text-align: center" scope="col">Description</th>
                    <th style="text-align: center" scope="col">Calories</th>
                </thead>
                <tbody>
                    {% for f in foods %}
                        <tr>
                            <!-- <td style="text-align: center">{{ f.time }}</td> -->
                            <td width="75%"style="text-align: center">{{ f.description }}</td>
                            <td style="text-align: center">{{ f.calories }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                {% for d, cal in total_calories.items %}
                    {% if d == date %}
                        <tfoot>
                            <th style="text-align: center" scope="col"> Total Calories </th>
                            <th style="text-align: center" scope="col">{{ cal }}</th>
                        </tfoot>
                    {% endif %}
                {% endfor %}
            </table>
        {% endfor %}
    </div>
{% endblock body %}