{%  extends "app/base.html" %}
{% load static %}
{% block style %}
    .nav{
        display: inline-block;
        width: 100%;
        padding: 1%;
    }
    .logo{
        margin: 0.5vw;
    }
    .btn-outline-secondary{
        float: right;
        margin: 0.5vw;
    }
    .title{
        font-size: 5vmax;
    }
    .header{
        position: relative;
        text-align: center;
        padding: 2vmin;
        margin: auto;
    }
    .mid {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .boxes{
        padding: 5%;
    }
    .header-img{
        filter: brightness(30%);
        max-width: 100%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .header-text{
        color: white;
        position: absolute;
        max-width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .subtitle{
        font-size: 2vmax;
    }
    .box1 {
        display: inline-block;
        background-color: #e7e7e9;
        padding: 2%;
        margin-bottom: 1%;
        height: auto;
        width: 100%;
        max-width: 100%;
    }
    .box1-img{
        display: flex;
        float: left;
        margin-right: 10%;
    }
    .box2-img{
        display: flex;
        float: right;
        margin-left: 10%;
    }
    .box2{
        background-color: #9cf3fd;
        display: inline-block;
        padding: 2%;
        margin-bottom: 1%;
        height: auto;
        width: 100%;
        max-width: 100%;
    }
    .box3{
        display: inline-block;
        background-color: #e7e7e9;
        padding: 2%;
        margin-bottom: 1%;
        height: auto;
        width: 100%;
        max-width: 100%;
    }
    .box4{
        background-color: #9cf3fd;
        display: inline-block;
        padding: 2%;
        margin-bottom: 1%;
        height: auto;
        width: 100%;
        max-width: 100%;
    }
    .logo{
        display: block;
        height: 56px;
        width: auto;
        float: left;
    }
    .box-img{
        height: 184px;
        width: 274px;
    }
    @media screen and (max-width: 630px){
        .btn-outline-secondary{
            width: 100%;
        }
        .logo-div {
            display: flex;
            justify-content: center;
            margin-bottom: 0.5vw;
        }
        .box1-img{
            float: none;
            margin-right: 0;
            justify-content: center;
            margin-top: 5%;
            margin-bottom: 5%;
        }
        .box2-img{
            float: none;
            margin-left: 0;
            justify-content: center;
            margin-top: 5%;
            margin-bottom: 5%;
        }
    }
{% endblock style %}
{% block body %}
    <div class="nav">
        <div class="logo-div">
            <img src="{% static 'logo.png' %}" class="logo">
        </div>
        <a href={% url 'app:login' %}>
            <Button class="btn btn-outline-secondary">Log In</Button>
        </a>
        <a href={% url 'app:results' %}>
            <Button class="btn btn-outline-secondary">Results</Button>
        </a>
        <a href={% url 'app:foodtracker' %}>
            <Button class="btn btn-outline-secondary">Food Tracker</Button>
        </a>
        <a href={% url 'app:exerciselog' %}>
            <Button class="btn btn-outline-secondary">Exercise Log</Button>
        </a>
        <a href={% url 'app:exercises' %}>
            <Button class="btn btn-outline-secondary">Exercises</Button>
        </a>
    </div>
    <div class="header">
        <img src="{% static 'fitness.jpg' %}" class="header-img">
        <div class="header-text">
            <h1 class="title">Welcome to FitTrack!</h1>
            <h3 class="subtitle">FitTrack helps you stay motivated and stick with your workout routine and diet plan.</h3>
        </div>
    </div>
    <div class="boxes">
        <div class="box1">
            <div class="box1-img">
                <img src="{%  static 'box1img.png' %}" class="box-img">
            </div>
            <h2>Find Exercises</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
        <div class="box2">
            <p>
                <div class="box2-img">
                    <img src="{%  static 'box2img.png' %}" class="box-img">
                </div>
                <h2>Track Workout Routines</h2>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
        <div class="box3">
            <div class="box1-img">
                <img src="{%  static 'box3img.png' %}" class="box-img">
            </div>
            <h2>Track Caloric Intake</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
        <div class="box4">
            <p>
                <div class="box2-img">
                    <img src="{%  static 'box4img.png' %}" class="box-img">
                </div>
                <h2>See Results</h2>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
    </div>
{% endblock body %}