{% extends "app/authbase.html" %}
{% load static %}
{% block body %}
    <div class="window">
        <form class="shadow bg-white rounded" method="POST">
            {% csrf_token %}
            <img src="{% static 'logo.png' %}" class="logo">
            <h1>Sign Up</h1>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <img src="{% static 'user.png' %}" class="img">
                    </span>
                </div>
                <input class="form-control" placeholder="First Name" required>
                <input class="form-control" placeholder="Last Name" required>
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <img src="{% static 'group.png' %}" class="img">
                    </span>
                </div>
                <input class="form-control" placeholder="Username" required>
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <img src="{% static 'mail.png' %}" class="img">
                    </span>
                </div>
                <input class="form-control" placeholder="Email" required>
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <img src="{% static 'password.png' %}" class="img">
                    </span>
                </div>
                <input class="form-control" placeholder="Password" type="password" required>
            </div>
            <Button class="btn btn-secondary" type="submit">Sign Up</Button>
        </form>
    </div>
{% endblock body %}