{% extends "app/authbase.html" %}
{% load static %}
{% block body %}
    <div class="window">
        <form class="shadow bg-white rounded signup" method="POST">
            {% csrf_token %}
            <img src="{% static 'logo.png' %}" class="logo">
            <h1>Sign Up</h1>
            {% if form.errors %}
                <div class="errors">
                    {{ form.non_field_errors }}
                    {% for field in form %}
                        {% if field.errors %}
                            <a style="color:red">{{ field.errors }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <img src="{% static 'user.png' %}" class="img">
                    </span>
                </div>
               {# <input class="form-control" placeholder="First Name"> #}
                {# <input class="form-control" placeholder="Last Name"> #}
                {{ form.first_name }}
                {{ form.last_name }}
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <img src="{% static 'group.png' %}" class="img">
                    </span>
                </div>
                {#<input class="form-control" placeholder="Username">#}
                {{ form.username }}
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <img src="{% static 'mail.png' %}" class="img">
                    </span>
                </div>
                {# <input class="form-control" placeholder="Email"> #}
                {{ form.email }}
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <img src="{% static 'password.png' %}" class="img">
                    </span>
                </div>
                {# <input class="form-control" placeholder="Password" type="password"> #}
                {{ form.password1 }}
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <img src="{% static 'tick.png' %}" class="img">
                    </span>
                </div>
                {# <input class="form-control" placeholder="Confirm Password" type="password"> #}
                {{ form.password2 }}
            </div>
            <Button class="btn btn-secondary" type="submit">Sign Up</Button>
        </form>
    </div>
{% endblock body %}
