{% extends "app/base.html" %}
{% block style %}
    {# insert css stylings specific to page here #}
    .boxes{
        width: 95%; 
        height: 700px; 
        overflow-x: hidden; 
        overflow-y: auto; 
    }
{% endblock style %}
{% block body %}

        <div class="row">
            <div class="col-10 offset-1">
                {% if savedWeight %}
                    <div class="alert alert-success fade">Logged Weight. Great job!</div>
                {% endif %}
                <h1 class="mb-0">Weight Log</h1>
                <p class="text-muted">Track your weight over time so that you can view your progress.</p>
                <hr>
                <br>
                <form class="form-inline pb-3" action="" method="post">
                    {% csrf_token %}
                    {{ form }}

                    <button type="submit" class="btn btn-primary btn-sm ml-2">Log</button>
                </form>
                <div class="card" style="height: 500px; overflow-y: auto;">
                    <div class="card-body">
                        <div class="card-detail">
                            <table class="table">
                                <thead>
                                  <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col">Weight</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    {% if weight_logs|length < 1 %}
                                        <tr><td class="text-center" colspan="2">What are you waiting for? Log your weight above!</td></tr>
                                    {% else %}
                                        {% for weight in weight_logs %}
                                            <tr>
                                                <th scope="row">{{weight.timestamp}}</th>
                                                <td>{{weight.weight}} lbs</td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock body %}