{% extends "app/base.html" %}
{% block style %}
    {# insert css stylings specific to page here #}
    .boxes{
        width: 95%; 
        height: 700px; 
        overflow-x: hidden; 
        overflow-y: auto; 
    }
{% endblock style %}
{% block body %}
    <div class="boxes">
        <h1>Weight Log</h1>
        <form class="form-inline pb-3" action="" method="post">
            {% csrf_token %}
            {{ form }}
          
            <button type="submit" class="btn btn-primary btn-sm ml-2">Log</button>
        </form>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Weight</th>
              </tr>
            </thead>
            <tbody>
                {% for weight in weight_logs %}
                    <tr>
                        <th scope="row">{{weight.timestamp}}</th>
                        <td>{{weight.weight}} lbs</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock body %}